<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solving mega meanu challenge
    link(rel="stylesheet" href="style.css")
  body
    //- pre=JSON.stringify(data, null, 2)
    .mega-menu
      each menu in data.menu
        .mega-menu__top-item
          a.mega-menu__top-link(href=`${menu.id}`)=menu.label
          .mega-menu__drop-down
            h2=menu.label
            ul
              each menu2 in menu.secondMenuItemList
                li.mega-menu__drop2
                  span=menu2.label
                  .mega-menu__drop-down2
                    h3=menu2.label
                    ul.mega-menu__list2
                      each item in menu2.list1
                        li.last-li
                          a(href=item.link, class=item.bold?'bold-link':'')=item.label